html {
	box-sizing: border-box;
}

*.*::before, *::after; {
	box-sizing: inherit;
}

.space {
	background-image: url("../images/stars.svg");
	background-color: black;
}

.asteroid {
	position: absolute;
	top: 150px;
	left: 150px;
	width: 100px;
	height: 100px;
	animation: asteroid-rotate 3s linear infinite;
}

@keyframes asteroid-rotate {

	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(360deg);
	}
}

.ship {
	position: relative;
	
}